$background-color-main: #fafafa;
$font-color-main: #4d4f62;
$border-color-red: #ea5454;
$border-color-sky-blue: #44d3d2;
$border-color-yellow: #fcae4a;
$border-color-blue: #549ef2;
$color-black: #000;

$font-size-main: 1.5rem;
